body {
        background-color: #333333;
        color: #000000;
}

.container {
        background-color: #333333;
}

header {
        background-color: #333333;
	color: #000000;
}

nav {
        background-color: #1C1C1C;     
}

td {
        color: #000000;
}

a {
        color: #000000;
}

a:hover {
        color: white;
}

.main {
        background-color: #333333;
}

aside {
        background-color: #333333;
}

footer {
        background-color: #1C1C1C;
} 
