body {
        background-color: ;
        color: ;
}

.container {
        background-color: ;
}

header {
        background-color: ;
}

nav {
        background-color: ;     
}

td {
        color: ;
}

a {
        color: ;
}

a:hover {
        color: ;
}

.main {
        backcolor-color: ;
}

aside {
        background-color: ;
}

footer {
        background-color: ;
}

