body {
        background-color: #ffffff;
        color: #404040;
}

.container {
        background-color: #ffffff;
}

header {
        background-color: #ffffff;
	color: #404040;
}

nav {
        background-color: #BFBFBF;     
}

td {
        color: #404040;
}

a {
        color: #404040;
}

a:hover {
        color: white;
}

.main {
        backcolor-color: #ffffff;
}

aside {
        background-color: #ffffff;
}

footer {
        background-color: #BFBFBF;
}

