body {
        background-color: #ADCFFF;
        color: ;
}

.container {
        background-color: #ADCFFF;
}

header {
        background-color: #ADCFFF;
}

nav {
        background-color: #60A2FF;     
}

td {
        color: ;
}

a {
        color: ;
}

a:hover {
        color: ;
}

.main {
        background-color: #ADCFFF;
}

aside {
        background-color: #ADCFFF;
}

footer {
        background-color: #60A2FF;
}

https://color.adobe.com/create/color-wheel/?base=2&rule=Monochromatic&selected=2&name=color-scheme-285-main&mode=rgb&rgbvalues=0.18906044255937343,0.3176702734906252,0.5,0.6781208851187468,0.8112555010097584,1,0.37812088511874686,0.6353405469812504,1,0.2936464388943082,0.37899774261491104,0.5,0.3024967080949975,0.5082724375850004,0.8&swatchOrder=0,1,2,3,4
